<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>
</div>  

<div class="field">
  <% post.images.each do |image| %>
    <%= image_tag image %>
  <% end %>
</div>  
